@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-UltraLight.otf) format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-Thin.otf) format("opentype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-Light.otf) format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-SemiBold.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-SemiBold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-Black.otf) format("opentype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-Heavy.otf) format("opentype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-UltraLightItalic.otf) format("opentype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-ThinItalic.otf) format("opentype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-LightItalic.otf) format("opentype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-Italic.otf) format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-SemiBoldItalic.otf) format("opentype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-SemiBoldItalic.otf) format("opentype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-BoldItalic.otf) format("opentype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-BlackItalic.otf) format("opentype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(/aileron/Aileron-HeavyItalic.otf) format("opentype");
    font-weight: 900;
    font-style: italic;
}