@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-ExtraLight.otf.woff) format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-Light.otf.woff) format("opentype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-Light.otf.woff) format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-Regular.otf.woff) format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-Semibold.otf.woff) format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-Semibold.otf.woff) format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-Bold.otf.woff) format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-Black.otf.woff) format("opentype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-Black.otf.woff) format("opentype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-ExtraLightIt.otf.woff) format("opentype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-LightIt.otf.woff) format("opentype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-LightIt.otf.woff) format("opentype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-It.otf.woff) format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-SemiboldIt.otf.woff) format("opentype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-SemiboldIt.otf.woff) format("opentype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-BoldIt.otf.woff) format("opentype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-BlackIt.otf.woff) format("opentype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: SourceSerifPro;
    src: url(/SourceSerifPro/SourceSerifPro-BlackIt.otf.woff) format("opentype");
    font-weight: 900;
    font-style: italic;
}